<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.back.mapper.EmpMapper">
	<!-- 사원등록 -->
	<insert id="register" parameterType="com.dz.back.dto.EmpDTO">
		INSERT INTO semp
		(EMP_ID, PASSWORD) VALUES (#{username}, #{password})
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="getEmpByUsername" parameterType="String"
		resultType="com.dz.back.dto.EmpDTO">
		SELECT * FROM semp WHERE emp_id = #{username}
	</select>
	
</mapper>